/* -------------------------------------
CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules bellow)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    background-color: LightBlue;
    /* Typography Declarations */
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}


/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

.masthead-heading,
.masthead-intro {
    text-align: center;
}

.masthead {
    padding: 6em 0;
    background-image: url('https://images.unsplash.com/photo-1451417379553-15d8e8f49cde?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=743b5c294daa74ebb1dfda160bd34c0c');
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead-intro {
    /* Layout Declarations */
    margin-bottom: 0.1em;
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
}

.masthead-heading {
    /* Layout Declarations */
    margin-top: -0.2em;
    /*Why a neg margin?*/
    /* Typography Declarations */
    font-family: "Gentium Book Basic", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}


/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    /*This pushed/pulled text down from the header.*/
    /* margin left/right:auto only works if width is defined. acb*/
}

.introduction-section > p,
.location-section > p,
.questions-section > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
    padding-bottom: .2rem;
}

.introduction-section > p {
    padding-bottom: .5em;
}

.questions-section > h2 {
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: ;
    padding-bottom: .3rem;
}

section > h1 {
    margin-top: 2em;
    padding-bottom: .5rem;
    font-size: 1.5em;
}


/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

.content-footer {
    background-color: lightslategray;
    padding: 1rem 0;
    margin-top: 1rem;
    text-align: center;
    font-weight: 300;
    letter-spacing: .05em;
}

.social > li {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    /*Block level elements expand to fill available width. Inline elements exist within a section of text, running alongside each other like words in a sentence. acb*/
}

.space {
    padding-left: .2rem;
}

.content-footer a {
    text-decoration: none;
}

.content-footer > p {
    color: white;
    padding: 1rem 0;
}


/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles bellow this line
*/

body {
    color: white;
}


/* desktop first approach = (the website was built initialy for desktop and will be adapted for mobiles)
Even if this approach requires more work in the long run, it is used often in order to develop and Minimum Voable Product with the least amount of initial investment
*/


/*ipad lanscape / small laptop*/

@media only screen and (max-width: 1024px) {
    /* acting like an IF statement, the media query is a set of conditions in which the containing css will be applied
    for example the statament above says: IF the media on which this CSS is going to used is SCREEN (Mobiles, Tables, Laptops, Desktops or Projectors) and the maximum resolution of that device is 1024px, THEN apply the body color blue for all the text
    */
    body {
        color: blue;
    }
}


/*ipad potrait*/

@media only screen and (max-width: 768px) {
    body {
        color: red;
    }
    .masthead-intro {
        font-size: 2.5em;
        color: aliceblue;
    }
    .masthead-heading {
        font-size: 4em;
        color: aliceblue;
    }
    .introduction-section,
    .location-section,
    .questions-section {
        padding-left: .9rem;
        padding-right: .9rem;
    }
    .content-footer {
        font-size: .9em;
        line-height: .5rem;
        padding-left: .6rem;
        padding-right: .6rem;
    }
    .social > li {
        margin-left: .5rem;
        margin-right: .5rem;
    }
}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    body {
        color: green;
    }
    .masthead-intro {
        font-size: 1.5em;
        color: darkgrey;
    }
    .masthead-heading {
        font-size: 3em;
        color: darkgray;
    }
}


/*iPhone portrait*/

@media only screen and (max-width: 320px) {
    body {
        color: purple;
    }
    .introduction-section,
    .location-section,
    .questions-section {
        padding-left: .4rem;
        padding-right: .4rem;
    }
    .content-footer {
        font-size: .7em;
        line-height: .5rem;
        padding-left: .6rem;
        padding-right: .6rem;
    }
}
